:root{
    --color-background-image: linear-gradient(#11001C, #290025);
    --color-button:#65015B;
    --color-background-input:#35012C;
    --color-text-primary:#E1AEFE;
    --color-text-secondary:#141313;
}