:root{
    --color-background-image: linear-gradient(#0172af, #74febd);
    --color-button:#00003d;
    --color-background-input:#1B6B7E;
    --color-text-primary:#ffffff;
    --color-error:orange;
    --color-background-error:var(--color-text-primary);
    
}