@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,800&display=swap');
@import './font.scss';
@import './icon.scss';

//efecto de transparencia en el linea-gradient con el ultmo color y el cien por cien
:root{
    --color-background-image: linear-gradient(to top, #120012 0%, #3F004F 50%, #7F005F 100%, rgba(127,0,95,0.5) 100%);
    --color-button:#7F005F ;
    --color-background-input:#35012C;
    --color-secondary:#FFB703;
    --color-light-secondary:#ffd770;
    --color-text-primary:#E1AEFE;
    --color-text-secondary:#141313;
    --font-family-primary:'Open Sans', sans-serif;
    --color-background-box-gradient:linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(62, 76%, 64%, 1) 100%);;
}